# CORS Configuration
# Comma-separated list of allowed origins
ALLOWED_ORIGINS=http://localhost:0000

# Engine Configuration
# Options: stockfish, minimax
DEFAULT_ENGINE=stockfish

# Server Configuration
HOST=0.0.0.0
PORT=8000

# Stockfish Configuration
STOCKFISH_DEPTH=20
STOCKFISH_PATH=

# Minimax Configuration
MINIMAX_DEPTH=4
